<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxt.ytwl.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sxt.ytwl.model.User" >

    <id column="userID" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="fk_roleID" property="fkRoleid" jdbcType="INTEGER" />
    <result column="checkInTime" property="checkintime" jdbcType="TIMESTAMP" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="alterTime" property="altertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.sxt.ytwl.model.User" extends="BaseResultMap">
    <association property="role" javaType="com.sxt.ytwl.model.Role">
      <id column="roleID" property="roleid" jdbcType="INTEGER" />
      <result column="roleName" property="rolename" jdbcType="VARCHAR" />
      <result column="rolePurview" property="rolepurview" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    userID, userName, sex, account, password, phone, email, fk_roleID, checkInTime, isDelete,
    alterTime
  </sql>
  <select id="getTotal" resultType="java.lang.Long">
    select count(*) from user;
  </select>
  <select id="getAllUsersByPage" resultMap="BaseResultMap">
    select * from user
    <where>
      <if test="keyword!=null">
        and username like concat('%',#{keyword},'%')
      </if>
    </where>
    <if test="page!=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="checkAccount" resultType="java.lang.Integer">
    select count(*) from user where account=#{account}
  </select>
  <select id="getByAccount" resultMap="BaseResultMap2">
    SELECT u.*,r.* FROM USER u,role r WHERE u.account=#{account} AND u.`fk_roleID`=r.`roleID`
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select
    <include refid="Base_Column_List" />
    from user
    where userID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from user
    where userID = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxt.ytwl.model.User" >

    insert into user (userID, userName, sex,
      account, password, phone,
      email, fk_roleID, checkInTime,
      isDelete, alterTime)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{fkRoleid,jdbcType=INTEGER}, #{checkintime,jdbcType=TIMESTAMP},
      #{isdelete,jdbcType=INTEGER}, #{altertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sxt.ytwl.model.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Feb 22 19:24:53 CST 2019.
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="fkRoleid != null" >
        fk_roleID,
      </if>
      <if test="checkintime != null" >
        checkInTime,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="altertime != null" >
        alterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fkRoleid != null" >
        #{fkRoleid,jdbcType=INTEGER},
      </if>
      <if test="checkintime != null" >
        #{checkintime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="altertime != null" >
        #{altertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateAuthorizeUserBatch">
    update user set fk_roleID=fk_roleID/10 where fk_roleID not between 1 and 5
  </update>
  <update id="authorizeUser" parameterType="java.lang.Integer">
    update user set fk_roleID=fk_roleID/10 where userid=#{userid} and fk_roleID not between 1 and 5
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxt.ytwl.model.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Feb 22 19:24:53 CST 2019.
    -->
    update user
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fkRoleid != null" >
        fk_roleID = #{fkRoleid,jdbcType=INTEGER},
      </if>
      <if test="checkintime != null" >
        checkInTime = #{checkintime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="altertime != null" >
        alterTime = #{altertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxt.ytwl.model.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Feb 22 19:24:53 CST 2019.
    -->
    update user
    set userName = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      fk_roleID = #{fkRoleid,jdbcType=INTEGER},
      checkInTime = #{checkintime,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=INTEGER},
      alterTime = #{altertime,jdbcType=TIMESTAMP}
    where userID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>